@import '../base/animations';
@import '../base/variables';

.work {
  margin-bottom: 16rem;
  animation: opacity 1s ease-in-out;
}

.header {
  margin-bottom: 1.6rem;
}

.work-wrapper {
  &:not(:last-of-type) {
    margin-bottom: 8rem;
  }
}

.work__item {
  &:not(:last-of-type) {
    margin-bottom: 4rem;
  }
}

.work__item-name {
  display: inline-block;
  margin-bottom: .8rem;
  color: $black;
  text-transform: uppercase;
  font-size: 5.6rem; //4rem
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: -0.08rem;
  
  @supports (-webkit-text-stroke: .15rem $black) {
    -webkit-text-stroke-color: $black;
    -webkit-text-stroke-width: .13rem;
    // For if project has a color (gradient)
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @supports not (-webkit-text-stroke: .1rem $black) {
    // Fallback if stroke is not supported. Background color has to be set to none.
    // Otherwise set color from inline css will overwrite it.
    background-color: none !important;
  }
}

.work__suffix {
  color: $black;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: .2rem;
}

.work__stack {
  margin-bottom: .8rem;
  font-size: 1.6rem;
  font-style: italic;
}

.work__stack-item {
  display: inline;
}

.work__link {
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $black;
    background: linear-gradient(to right, $grey 20%, $grey-light 40%, $grey-light 60%, $grey 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;

    &:hover {
      animation: shine 1.2s linear infinite;
    }
  }
}