@use 'sass:math';

// Grid
$breakpoints: (
  "xs": 400px,
  "s": 720px,
  "m": 1024px,
  "l": 1120px
);

$gutter:                  3.2rem !default;
$grid-columns:            12;
$grid-gap:                $gutter;
$grid-gap--mobile:        math.div(3.2rem, 2);

$max-container-width:     1120px !default;

$spacing:                 math.div($gutter, 2) !default;

// Colors
$black: #000000;

